@page "/flight"
@using AuthDemo.Razor.Components.Layout
@using AuthDemo.Shared.Models
@inject AuthDemo.Razor.Services.FlightService FlightService
@inject AuthDemo.Razor.Services.TokenHolder TokenHolder

<h3>Flight Schedules</h3>
@if (flights == null)
{
    <p><em>Loading...</em></p>
    @if (errorMessage != null)
    {
        <div class="alert alert-danger">@errorMessage</div>
    }
}
else if (errorMessage != null)
{
    <div class="alert alert-danger">@errorMessage</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Airline</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Departure Time</th>
                <th>Arival Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in flights)
            {
                <tr>
                    <td>@flight.FlightNumber</td>
                    <td>@flight.Airline</td>
                    <td>@flight.Origin</td>
                    <td>@flight.Destination</td>
                    <td>@flight.DepartureTime.ToShortTimeString()</td>
                    <td>@flight.ArrivalTime.ToShortTimeString()</td>
                    <td>@flight.Direction (@flight.Status)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<FlightSchedule>? flights;
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var token = TokenHolder.Token;
            flights = await FlightService.GetFlightAsync(token);
        }
        catch (Exception ex)
        {
            errorMessage = $"Error loading weather data: {ex.Message}";
        }
    }
}
